.App {
  padding: 1em;
  text-align: center;
}

.App div {
  height: 100%;
}

text {
  font-size: 14px;
}

@media (min-width: 500px) {
  .App {
    display: flex;
  }

  text {
    font-size: 16px;
  }

  .map-container {
    width: 40%;
  }

  .histogram-container {
    width: 60%;
  }
}
